<template>
  <div>
    <mainHeader></mainHeader>

    <div class="fullBlog">
      <div class="placeholder">
        <md-spinner :md-size="150" md-indeterminate></md-spinner>
      </div>
      <section class="content">
        <posts></posts>
      </section>
    </div>

  </div>
</template>

<script>
  import posts from "../components/posts/Posts"
  import header from '../containers/Header'

  export default {
    components: {
      posts: posts,
      mainHeader: header
    }
  }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .content {
    width: 960px;
    background: #fff;
    margin: 12px auto 0;
  }
  .fullBlog {
    z-index: 1;
    display: flex;
    flex-direction:column;
  }
  .placeholder {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10%;
  }

</style>


