<template>
  <div class="blog">

    <md-button class="md-raised" @click.native="viewFull">Read full Blog</md-button>
    <md-button class="md-raised" @click.native="loadCutPosts">Question & Answear</md-button>

    <section class="info">
      <p>Posts: {{ info.posts }}</p>
      <p>Offset: {{ info.offset}}</p>
    </section>

    <section class="content">
      <div class="full_blog blog" v-if="seen">
        <div v-for="post in fullPosts">
          <div>
            <p class="id">{{ post.from_id }}</p>
            <p>{{ post.text }}</p>
          </div>
        </div>
      </div>
      <div class="cut_blog blog" v-else >
        <div v-for="post in cutPosts">
          <p>{{ post.id}}</p>
          <p>{{ post.question.from_name}}</p>
          <p class="question">{{ post.question.text }}</p>
          <p class="answer">{{ post.answer }}</p>
        </div>
      </div>
      <button @click="pushDB">Send to DB</button>
    </section>

  </div>
</template>

<script>

  import fetchJsonp from 'fetch-jsonp';
  import axios from 'axios';
  import { root, offset } from '../utils/vk';

  export default {
    data() {
      return {
        fullPosts: null,
        cutPosts: null,
        seen: true,
        info: {
            posts: 0,
            offset: offset,
        }
      }
    },
    created() {
      this.loadFullBlogFromVk();
    },
    methods: {
      loadCutFromDB: function () {
          axios.get('http://localhost:3030/')
          .then(function (response) {
            console.log(response);
          })
      },
      loadFullBlogFromVk: function () {
        let self = this;
        fetchJsonp(root)
          .then(function (response) {
            return response.json()
          }).then(function (json) {
          self.info.posts = json.response.length;
          self.fullPosts= json.response;
        }).catch(function (ex) {
          console.log('parsing failed', ex)
        });
      },
      viewFull: function () {
        this.toggleLeftSidenav();
        this.seen = true;
        this.info.posts = this.fullPosts.length;
      },
      loadCutPosts: function () {
        this.seen = false;
        this.toggleLeftSidenav();
        let self = this;
        let posts = this.fullPosts;
        let arr = [];
        posts.filter(function (data) {
          let block = {
            id: null,
            question: {
                from_name: null,
                text: null
            },
            answer: null,
            tags: [],
            bookmark: false
          };
          if (data.from_id === 2521786) {
            let id = data.text.match(/_(\d+)\|/);
            let str = data.text.match(/], /);
            if (str) {
                block.answer = data.text.slice(Number(str.index + 3));
            } else {
              block.answer = data.text;
            }

            if (id !== null) {
              posts.filter(function (item) {
                if (item.id === Number(id[1])) {
                  fetchJsonp(`https://api.vk.com/method/users.get?user_id=${item.from_id}&v=5.52`)
                    .then(function (response) {
                      return response.json()
                    }).then(function (json) {
                    block.question.from_name =  json.response[0].first_name + ' ' +  json.response[0].last_name;
                  }).catch(function (ex) {
                    console.log('parsing failed', ex)
                  });
                  block.question.text = item.text;
                }
              });
            }
            block.id = self.guid();
            arr.push(block)
          }
        });
        this.info.posts = arr.length;
        this.cutPosts = arr;
      },
      pushDB: function () {
        let self = this;
        axios.post('http://localhost:3030/all', self.cutPosts)
          .catch(function (error) {
            console.log(error);
          });
      },
      toggleLeftSidenav() {
        this.$refs.leftSidenav.toggle();
      },
      guid() {
        let id = Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1);
        return id
      }
    }
  }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .content {
    width: 960px;
    background: #fff;
    margin: 12px auto 0;
    .blog>div {
      padding: 15px;
      border: 1px solid #e7e8ec;
      .question, .id {
        color: #42648b;
        font-weight: 700;
      }
      .answer {
        padding-left: 15px;
        font-style: italic;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    background: #fff;
    padding: 10px;
    font-weight: 700;
  }
</style>


