<template>
    <div class="phone-viewport header">
      <md-toolbar md-theme="default" >
        <md-button class="md-icon-button" @click.native="toggleLeftSidenav">
          <md-icon>menu</md-icon>
        </md-button>
        <h1 class="md-title">Психологическая помощь в нестандартных ситуациях</h1>
        <div class="login_btn">
          <md-button class="md-raised md-dense" @click.native="logout">Выход</md-button>
        </div>
      </md-toolbar>

      <md-sidenav class="md-left" ref="leftSidenav">
        <md-toolbar class="md-large">

          <div class="login_panel">
            <md-avatar class="md-large">
                <img :src="user.photo" alt="People">
              </md-avatar>
            <h2 >{{user.name}}</h2>
          </div>

        </md-toolbar>
        <md-button href="#/" class="md-raised md-primary btn" @click.native="viewFull">Prod</md-button>
        <md-button href="#/dev" class="md-raised md-primary btn" @click.native="viewFull">Dev</md-button>
      </md-sidenav>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        user: {
            name: null,
            photo: null
        }
      }
    },
    created() {
      this.userInfoView();
    },
    methods: {
      toggleLeftSidenav() {
        this.$refs.leftSidenav.toggle();
      },
      viewFull: function () {
        this.toggleLeftSidenav();
      },
      logout: function () {
        localStorage.clear();
        this.$router.push("/login");
      },
      userInfoView: function () {
        this.user.name = localStorage.getItem("user_name");
        this.user.photo = localStorage.getItem("user_photo");
      }
    },
  }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .header>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .btn {
    width: 44%;
  }
  .login_panel {
    width: 100%;
    text-align: center;
    h2 {
      margin-top: 0;
    }
  }
  .login_btn {
    float: right;
  }
</style>


