<template>
  <div class="pagintaion" >
    <div class="pagination_btn">
      <md-button class="md-raised md-primary " v-if="hasPrev" @click.native="changePage(toPrevPage)">Preview page</md-button>
      <md-button class="md-raised md-primary" @click.native="changePage(n)" v-for="n in perPage" :key="n" >{{n}}</md-button>
      <md-button class="md-raised md-primary" v-if="hasNext" @click.native="changePage(toNextPage)" >Next page</md-button>
    </div>
  </div>

</template>

<script>
  export default {
    props: {
      current: {
        type: Number,
        default: 1
      },
      totalPage: {
        type: Number,
        default: 1
      },
      pageRange: {
        type: Number,
        default: 2
      }
    },
    created() {
    },
    methods: {
      changePage: function (page) {
        this.$emit('page-changed', page);
      },
    },
    computed: {
      rangeStart: function () {
        let start= this.current - this.pageRange;
        return (start > 0) ? start : 1;
      },
      rangeEnd: function () {
        let end= this.current + this.pageRange;
        return (end < this.totalPage) ? 1 : end;
      },
      toNextPage: function () {
        return this.current + 1;
      },
      toPrevPage: function () {
        return this.current - 1;
      },
      hasPrev: function () {
        return this.current > 1;
      },
      hasNext: function () {
        return this.current < this.totalPage
      }
    }
  }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .pagintaion {
    display: flex;
    justify-content: center;
  }
  .pagination_btn {
    display: flex;
    justify-content: space-around;
    width: 58%;
    .md-button {
      min-width: 20px;
    }
  }
</style>


