<template>
  <div class="posts" >
    <md-dialog-alert
      :md-content="alert.content"
      :md-ok-text="alert.ok"
      ref="dialog">
    </md-dialog-alert>

    <div class="searchBar">
      <md-input-container>
        <label>Searh by tags</label>
        <md-select name="tags" multiple v-model="searchByTags">
          <TagsOption></TagsOption>
        </md-select>
      </md-input-container>
    </div>

    <div v-for="post in filteredByTags ">

      <p class="md-subhead">{{ post.question.from_name}}</p>
      <p class="question">{{ post.question.text }}</p>
      <p class="answer">{{ post.answer }}</p>

      <div class="tags">
        <md-input-container>
          <label>{{ (post.tags[0] === undefined) ? "Add tags" : "Tags"}}</label>
          <md-select name="tags" multiple v-model="post.tags">
            <TagsOption></TagsOption>
          </md-select>
        </md-input-container>


        <md-button class="md-fab md-primary" @click.native="addTag(post._id, post.tags)">
          <md-icon>save</md-icon>
        </md-button>

      </div>

    </div>

    <Pagination :current="currentPage" :total="perPage" @page-changed="handlePagination"></Pagination>

  </div>
</template>

<script>
  import axios from "axios";
  import TagsOption from "./Tags"
  import Pagination from "./Pagination"

  export default {
    data() {
      return {
        posts: null,
        searchByTags: '',
        alert: {
          content: 'Your tags has been saved!',
          ok: 'Cool!'
        },
        currentPage: 1
      }
    },
    created() {
      this.loadCutFromDB(0);
    },
    methods: {
      loadCutFromDB: function (offset) {
        let self = this;
        axios.get(`http://localhost:3030/${offset}`)
          .then(function (response) {
            self.posts = response.data;
          });
      },
      addTag: function (id, tags) {
        let self = this;
        axios.put(`http://localhost:3030/addTags/${id}`, tags)
          .then(function () {
            self.openDialog()
          })
          .catch(err => {
              console.log(err);
          });
      },
      openDialog() {
        this.$refs.dialog.open();
      },
      handlePagination(page) {
        this.currentPage = page;
        let offset = (page * 20) - 20;
        this.loadCutFromDB(offset);
      }
    },
    computed: {
      filteredByTags: function () {
        let self = this;
        if (!self.searchByTags[0]) {
          return self.posts
        } else {
          return self.posts.filter(function (posts) {
            for (let i = 0; i < self.searchByTags.length; i++) {
              return posts.tags.indexOf(self.searchByTags[i]) !== -1;
            }
          })
        }
      },
      perPage: function () {
        return Math.floor(82/20);
      }
    },
    components: {
      TagsOption,
      Pagination
    }
  }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .content {
    .posts {
      .tags {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .md-input-container {
          width: 90%;
        }
      }
      &>div {
        padding: 15px;
        border: 1px solid #e7e8ec;
        .question, .id {
          color: #42648b;
          font-weight: 700;
        }
        .answer {
          padding-left: 15px;
        }
      }
    }
  }
</style>


