<template>
  <div class="tags_option" >
    <md-subheader>Managers</md-subheader>

    <md-option value="poker">Покер</md-option>
    <md-option value="women">Бабы</md-option>
    <md-option value="phase">Фаза</md-option>
    <md-option value="mate">Матэ</md-option>
    <md-option value="recommendations">Рекомендации</md-option>
    <md-option value="drags">Наркотики</md-option>
    <md-option value="team">Команда</md-option>
  </div>
</template>

<script>
  export default {

  }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
</style>


