<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  created() {
    this.init();
    this.auth();
  },
  methods: {
    init: function () {
      VK.init({
        apiId: 5946048
      });
    },
    auth: function () {
      let userLogin = localStorage.getItem('login');
      if (!userLogin) this.$router.push('/login');
    }
  }
};
</script>

<style lang="scss">
body.md-theme-default {
  margin: 0;
  background: #edeef0!important;
  position: relative;
}
.md-theme-default.md-sidenav .md-sidenav-content{
  position: fixed;
  button {
    width: 94%;
  }
}
</style>
