<template>
  <div class="login_wrapper">

    <md-dialog-alert
      :md-content="alert.content_per"
      :md-ok-text="alert.ok"
      ref="dialog_per">
    </md-dialog-alert>

    <md-dialog-alert
      :md-content="alert.content_err"
      :md-ok-text="alert.ok"
      ref="dialog_err">
    </md-dialog-alert>

    <div class="phone-viewport header">
      <md-toolbar md-theme="default" >
        <h1 class="md-title">VkBlog в удобном формате</h1>
        <div class="login_btn">
          <md-button class="md-raised md-dense" @click.native="login">Войти</md-button>
        </div>
      </md-toolbar>
    </div>
    <img src="">
    <div class="content_wrapper">
      <section class="login_content">

        <md-card md-with-hover>
          <md-card-header>
            <h1 class="md-title">Теперь просмотр блога стал намного удобнее</h1>
          </md-card-header>

          <md-card-content>
            <vue-markdown>### Новые возможности:</vue-markdown>
            <vue-markdown>- Вопрос/ответ в удобном для чтения виде</vue-markdown>
            <vue-markdown>- Возможность добавление тегов и поиск по интресуюшим темам</vue-markdown>
            <vue-markdown>- Удобная пагинация</vue-markdown>
          </md-card-content>

          <md-card-content>
            <vue-markdown>### История изменений:</vue-markdown>
            <vue-markdown>      0.1.1 Добавленна авторицазия</vue-markdown>
            <vue-markdown>      0.1.2 Добавленна пагиннация</vue-markdown>
          </md-card-content>

        </md-card>

      </section>
    </div>
  </div>
</template>

<script>
  import setUserInfo from './UserInfo'
  import VueMarkdown from 'vue-markdown'

  export default {
    data() {
      return {
        alert: {
          content_per: 'У вас нет доступа к данному блогу',
          content_err: 'Авторизоваться не удалось!',
          ok: 'Close'
        }
      }
    },
    methods: {
      login: function () {
        let self = this;
        VK.Auth.login(authInfo, 'JCEUEsO5kX7lb4woedcc');
        function authInfo(response){
          if(response.session){
            VK.Api.call('board.getComments', {group_id: 36258159,topic_id: 29468829 }, function(r) {
              if(r.response) {
                localStorage.setItem('login', true);
                setUserInfo(response, self);
              } else self.openDialog("dialog_per");
            });
          } else self.openDialog("dialog_err");
        }
      },
      openDialog(ref) {
        this.$refs[ref].open();
      }
    },
    components: {
      VueMarkdown
    }
  }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .login_wrapper {
    .header {
      &>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .login_btn {
        display: flex;
      }
    }
    .content_wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      background-image: url("../../assets/bg.jpg");
      background-size: cover;
      .login_content {
        padding-top: 20px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }



</style>


